<!-- booking-cancelled.component.html -->
<!-- booking-existing.component.html -->
<div class="container-xxl py-3 hero-header mb-5">
</div>

<!-- Booking Cancelled Content Start -->
<div class="container-xxl py-5 bg-light message-container">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="display-1 text-danger">
          <i class="fa fa-times-circle"></i>
        </h1>
        <h1 class="mb-4">Booking Cancelled</h1>
        <p class="mb-4">
          Your reservation has been successfully cancelled.
        </p>
        <a class="btn btn-primary py-3 px-5" routerLink="/booking/form">Book a Table</a>
      </div>
    </div>
  </div>
</div>
<!-- Booking Cancelled Content End -->
