<!-- Footer Start -->
<footer id="footer">
  <div class="container-fluid bg-dark text-light footer pt-5 mt-5">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title text-start text-primary fw-normal mb-4">Voltereta</h4>
          <a class="btn btn-link" routerLink="/about-us">About us</a>
          <a class="btn btn-link" routerLink="/booking/form">Booking</a>
          <a class="btn btn-link" routerLink="/dishes" >Menu</a>
          <a class="btn btn-link" routerLink="/faqs">FAQs</a>
          <a class="btn btn-link" routerLink="/privacy-policy">Privacy Policy</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title text-start text-primary fw-normal mb-4">Contact with us</h4>
          <a class="btn btn-link btn-link-no-before" href="tel:+0123456789">
            <i class="fa fa-phone-alt me-3"></i>+012 345 67890
          </a>
          <a class="btn btn-link btn-link-no-before" href="mailto:volteretacroqueta@gmail.com">
            <i class="fa fa-envelope me-3"></i>volteretacroqueta&#64;gmail.com
          </a>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://youtube.com"><i class="fab fa-youtube"></i></a>
            <a class="btn btn-outline-light btn-social" href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title text-start text-primary fw-normal mb-4">Opening Hours</h4>
          <h5 class="text-light fw-normal">Monday - Saturday</h5>
          <p><i class="fa fa-solid fa-circle me-1"></i> 09AM - 11PM</p>
          <h5 class="text-light fw-normal">Sunday</h5>
          <p><i class="fa fa-solid fa-circle me-1"></i> 10AM - 11PM</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="section-title text-start text-primary fw-normal mb-4">Where to find us</h4>
          <h5 class="text-light fw-normal">You can find our restaurants here:</h5>
          <a class="btn btn-link btn-link-no-before" routerLink="/restaurants">
            <i class="fa fa-map-marker-alt me-2"></i>Restaurants
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            © <a class="border-bottom" routerLink="#">Voltereta Croqueta</a>, All Right Reserved.
            Designed By <a class="border-bottom" href="https://htmlcodex.com/">HTML Codex</a><br><br>
            Distributed By <a class="border-bottom" href="https://themewagon.com/" target="_blank">ThemeWagon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
