<!--dish-form-component.html-->

<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
  <div class="row g-0 align-items-center">

    <!-- Imagen a la izquierda --><!-- Imagen a la izquierda -->
      <div class="col-md-6">
          <div class="dish-image text-center" *ngIf="editMode; else newDishImage">
              <img [src]="'/api/v1/dishes/' + dish.id + '/image'" alt="{{ dish?.name }}">
          </div>
          <ng-template #newDishImage>
              <div class="text-center text-muted">
                  <p>No image yet</p>
              </div>
          </ng-template>
      </div>


      <!-- Formulario a la derecha -->
    <div class="col-md-6 bg-dark d-flex align-items-center">
      <div class="p-5 wow fadeInUp text-white w-100" data-wow-delay="0.2s">
        <h5 class="section-title ff-secondary text-start text-primary fw-normal">
          {{ editMode ? 'Edit Dish' : 'Add New Dish' }}
        </h5>

        <form [formGroup]="dishForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate>
          <div class="row g-3">

            <div class="col-md-12">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" placeholder="Dish Name" formControlName="name">
                <label for="name">Dish Name</label>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Description" id="description" style="height: 100px" formControlName="description"></textarea>
                <label for="description">Dish Description</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating">
                <input type="number" class="form-control" id="price" placeholder="Dish Price" formControlName="price">
                <label for="price">Dish Price</label>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-floating">
                <textarea class="form-control" id="ingredients" style="height: 100px" formControlName="ingredients"></textarea>
                <label for="ingredients">Dish Ingredients (comma-separated)</label>
              </div>
            </div>
        <div class="col-12">
          <h5 class="text-white">Allergens:</h5>
          <div class="allergens container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
              <div class="col" *ngFor="let allergen of allAllergens">
                <div class="form-check">
                  <label>
                    <input
                      type="checkbox"
                      [value]="allergen.name"
                      (change)="onAllergenChange($event)"/>
<!--                      [checked]="dishForm.value.allergens.includes(allergen.name)"-->

                    <img [src]="allergen.imageUrl" [alt]="allergen.name" width="24" height="24" />
                    {{ allergen.name }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>


              <div class="col-12">
              <h5 class="text-white">Dietary Preferences:</h5>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="vegan" formControlName="isVegan">
                <label class="form-check-label text-white" for="vegan">
                  <img src="/assets/img/allergen_symbols/vegan_symbol.png" alt="Vegan" class="img-thumbnail" style="width: 30px;">
                  Vegan Option
                </label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input type="file" class="form-control" id="imageField" (change)="onImageSelected($event)">
                <label for="imageField">Upload Dish Image</label>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-sm m-2 p-2" [disabled]="isSubmitting">
                {{ editMode ? 'Update Dish' : 'Add to Menu' }}
              </button>
            </div>

            <div *ngIf="submitErrorMessage" class="col-12 text-danger mt-2">
              {{ submitErrorMessage }}
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
