{{> fragments/header}}
{{> fragments/hero}}
    <!-- Navbar & Hero End -->

    <!-- Error Page Content Start -->
    <div class="container-xxl py-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="display-1 text-primary">{{errorCode}}</h1>
                    <h1 class="mb-4">{{errorMessage}}</h1>
                    <p class="mb-4">{{errorDescription}}</p>
                    <a class="btn btn-primary py-3 px-5" href="/">Take me home</a>
                    {{{extraButton}}}
                </div>
            </div>
        </div>
    </div>
    <!-- Error Page Content End -->

{{> fragments/footer}}