<div class="container-xxl py-5">
  <div class="container">
    <!-- Aquí podrías poner filtros si los necesitas -->

    <div class="menu-items mt-5">
      <div class="row g-4" style="max-width: 800px; margin: 0 auto;">
        <div class="col-lg-12" *ngFor="let dish of dishes">
          <div class="d-flex align-items-center">
            <div class="w-100 d-flex flex-column text-start ps-4">
              <div class="d-flex">
                <img
                  *ngIf="dish.image"
                  [src]="dish.dishImagePath"
                  alt="{{ dish.name }}"
                  class="img-fluid rounded shadow"
                  style="width: 15vw; height: 10vh"
                />
                <img
                  *ngIf="!dish.image"
                  src="/assets/img/logo.jpg"
                  alt="Dish Image"
                  class="img-fluid rounded shadow"
                  style="width: 10vw; height: 15vh"
                />

                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2">
                    <span>{{ dish.name }}</span>
                    <span class="text-primary">{{ dish.price | currency: 'EUR' }}</span>
                  </h5>
                  <small class="fst-italic">{{ dish.description }}</small>
                  <h5>
                    <span>{{ dish.rate.toFixed(1) }}<i class="fas fa-star text-warning"></i></span>
                  </h5>
                  <a class="btn btn-primary btn-sm m-2 p-1 w-10" [routerLink]="['/menu', dish.id]">
                    <i class="fa fa-info"></i> More info
                  </a>
                </div>
              </div>

              <div class="d-flex align-items-center" *ngIf="isLoggedIn$ | async">
<!--                <form (submit)="addToCart(dish.id)" class="addToCartForm">-->
<!--                  <button type="submit" class="btn btn-primary btn-sm m-2 p-2">-->
<!--                    <i class="fa fa-shopping-cart"></i> Add To Cart-->
<!--                  </button>-->
<!--                </form>-->
              </div>
            </div>
          </div>
        </div>
      </div>

<!--      <button class="btn btn-primary mt-5 d-block mx-auto" (click)="loadMoreDishes()">View More</button>-->
      <button *ngIf="isLoggedIn$ | async" class="btn btn-primary mt-5 d-block mx-auto" routerLink="/menu/admin/new-dish">
        New dish
      </button>
    </div>
  </div>
</div>
