.home-container {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

