<div class="d-flex align-items-center">
  <div class="bg-dark p-4 rounded-xl shadow mt-5 gap-4">
    <input type="text" [(ngModel)]="name" placeholder="Search by name" class="p-2 rounded border w-full sm:w-1/3">
    <input type="number" [(ngModel)]="maxPrice" placeholder="Max price" class="p-2 rounded border w-full sm:w-1/3">
    <input type="text" [(ngModel)]="ingredient" placeholder="Ingredient" class="p-2 rounded border w-full sm:w-1/3">
    <button (click)="applyFilters()" class="btn btn-primary btn-sm m-2 p-1 w-10">
      Apply Filters
    </button>
  </div>
</div>
