{{> fragments/header}}

<div class="container-xxl py-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="display-1 text-warning"><i class="fa fa-exclamation-circle"></i></h1>
                <h1 class="mb-4">Reservation Already Exists</h1>
                <p class="mb-4">You already have an active reservation. Please cancel it in your profile before making a new one.</p>
                <a class="btn btn-primary py-3 px-5" href="/profile">Go to Profile</a>
            </div>
        </div>
    </div>
</div>

{{> fragments/footer}}
