{{> fragments/header}}

        <div class="container-xxl py-3 bg-dark hero-header mb-5">
            <div class="container text-center my-3 pt-3 pb-2">
                <!-- Empty container to cover the navbar -->
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <!-- Order Confirmation Content Start -->
    <div class="container-xxl py-5">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="display-1 text-primary"><i class="fa fa-check-circle"></i></h1>
                    <h1 class="mb-4">Reservation Confirmed</h1>
                    <p class="mb-4">Thank you for booking! Your reservation has been successfully placed and is being processed. You will receive a confirmation email shortly.</p>
                    <a class="btn btn-primary py-3 px-5" href="index.html">Go back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Order Confirmation Content End -->


{{> fragments/footer}}