{{> fragments/header}}

        <div class="container-xxl bg-dark hero-header">
            <div class="container text-center pt-5">
                <h1 class="display-3 text-white animated slideInDown pt-4 pb-4">Dish Editor</h1>
            </div>
        </div>
    </div>

    <!-- Navbar & Hero End -->

    <!-- Edit Dish Form Start -->
    <div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="dish-image">
                    <img src="img/dishes/Spaghetti_Carbonara.jpg" alt="Dish Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">Edit Dish Details</h5>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Dish Name" value="Spaghetti Carbonara">
                                    <label for="name">Dish Name</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Description" id="description" style="height: 100px">Classic Italian pasta dish with eggs, cheese, pancetta, and pepper.</textarea>
                                    <label for="description">Description</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="price" placeholder="Price" value="12.99">
                                    <label for="price">Price</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="ingredients" placeholder="Ingredients" value="Spaghetti, Eggs, Pancetta, Parmesan Cheese, Black Pepper">
                                    <label for="ingredients">Ingredients</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="text-white">Allergens:</h5>
                                <div class="allergens">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="lupin" value="lupin">
                                        <label class="form-check-label text-white" for="lupin">
                                            <img src="img/allergen_symbols/allergen_symbol_altramuz.png" alt="Lupin" class="img-thumbnail" style="width: 30px;">
                                            Lupin
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="celery" value="celery">
                                        <label class="form-check-label text-white" for="celery">
                                            <img src="img/allergen_symbols/allergen_symbol_apio.png" alt="Celery" class="img-thumbnail" style="width: 30px;">
                                            Celery
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="gluten" value="gluten">
                                        <label class="form-check-label text-white" for="gluten">
                                            <img src="img/allergen_symbols/allergen_symbol_cereal.png" alt="Gluten" class="img-thumbnail" style="width: 30px;">
                                            Gluten
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="crustaceans" value="crustaceans">
                                        <label class="form-check-label text-white" for="crustaceans">
                                            <img src="img/allergen_symbols/allergen_symbol_crustacean.png" alt="Crustaceans" class="img-thumbnail" style="width: 30px;">
                                            Crustaceans
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="dairy" value="dairy">
                                        <label class="form-check-label text-white" for="dairy">
                                            <img src="img/allergen_symbols/allergen_symbol_dairy.png" alt="Dairy" class="img-thumbnail" style="width: 30px;">
                                            Dairy
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="eggs" value="eggs">
                                        <label class="form-check-label text-white" for="eggs">
                                            <img src="img/allergen_symbols/allergen_symbol_eggs.png" alt="Eggs" class="img-thumbnail" style="width: 30px;">
                                            Eggs
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="fish" value="fish">
                                        <label class="form-check-label text-white" for="fish">
                                            <img src="img/allergen_symbols/allergen_symbol_fish.png" alt="Fish" class="img-thumbnail" style="width: 30px;">
                                            Fish
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="mollusks" value="mollusks">
                                        <label class="form-check-label text-white" for="mollusks">
                                            <img src="img/allergen_symbols/allergen_symbol_mollusks.png" alt="Mollusks" class="img-thumbnail" style="width: 30px;">
                                            Mollusks
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="mustard" value="mustard">
                                        <label class="form-check-label text-white" for="mustard">
                                            <img src="img/allergen_symbols/allergen_symbol_mustard.png" alt="Mustard" class="img-thumbnail" style="width: 30px;">
                                            Mustard
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="nuts" value="nuts">
                                        <label class="form-check-label text-white" for="nuts">
                                            <img src="img/allergen_symbols/allergen_symbol_nuts.png" alt="Nuts" class="img-thumbnail" style="width: 30px;">
                                            Nuts
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="peanuts" value="peanuts">
                                        <label class="form-check-label text-white" for="peanuts">
                                            <img src="img/allergen_symbols/allergen_symbol_peanut.png" alt="Peanuts" class="img-thumbnail" style="width: 30px;">
                                            Peanuts
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="sesame" value="sesame">
                                        <label class="form-check-label text-white" for="sesame">
                                            <img src="img/allergen_symbols/allergen_symbol_sesame.png" alt="Sesame" class="img-thumbnail" style="width: 30px;">
                                            Sesame
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="soy" value="soy">
                                        <label class="form-check-label text-white" for="soy">
                                            <img src="img/allergen_symbols/allergen_symbol_soybeans.png" alt="Soy" class="img-thumbnail" style="width: 30px;">
                                            Soy
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="sulfites" value="sulfites">
                                        <label class="form-check-label text-white" for="sulfites">
                                            <img src="img/allergen_symbols/allergen_symbol_sulfites.png" alt="Sulfites" class="img-thumbnail" style="width: 30px;">
                                            Sulfites
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="text-white">Dietary Preferences:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="vegan" value="vegan">
                                    <label class="form-check-label text-white" for="vegan">
                                        <img src="img/allergen_symbols/vegan_symbol.png" alt="Vegan" class="img-thumbnail" style="width: 30px;">
                                        Vegan Option
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <a class="btn btn-primary w-100 py-3" href="dish-information.html">Save Changes</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Dish Form End -->

{{> fragments/footer}}