<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <title>FutProLeague</title>
</head>
<body>
<header>
    <div>
        <a href="/" style="margin-left: 20px; color: #d8302f;"><i class='input-icon uil uil-arrow-left' style="font-size: 2rem;"></i></a>
        <a href="/" style="justify-content: center; align-items: center; display: flex;"><img class="show-logo" src="/img/logo.jpg" alt="#"/></a>
    </div>
</header>
<section class="section">
    <div class="login-container">
        <h2>Incorrect Credentials</h2>
        <p>Please verify your credentials and try again.</p>
        <a href="/auth/login" class="retry-button">Try Again!</a>
    </div>
</section>
</body>
</html>
