{{> fragments/header}}
<div class="container-xxl bg-dark hero-header">
    <div class="container text-center pt-5">
        <h1 class="display-3 text-white animated slideInDown pt-4 pb-4">Order Editor</h1>
    </div>
</div>
</div>

<!-- Navbar & Hero End -->

<!-- Order Summary Start -->
<div class="container-xxl py-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">

            <!-- Order's Card -->
            <div class="text-sm-start rounded-4 card shadow-lg">
                <div class="d-flex py-3 card-head bg-primary text-white justify-content-center align-items-center">
                    <span class="section-title ff-secondary text-center text-white fw-normal fs-3">Order Number: 0246871359</span>
                </div>
                <div class="card-body bg-light">
                    <!-- Product 1 -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>2x Fried Chicken</span>
                                <span class="text-primary">2 x 8.99 = €17.98</span>
                            </h5>
                            <small class="fst-italic">Just chicken</small>
                        </div>
                    </div>

                    <!-- Product 2 -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>3x Croquetas Voltereta</span>
                                <span class="text-primary">3 x 5.49 = €16.47</span>
                            </h5>
                            <small class="fst-italic">Delicious jam and cheese croquettes</small>
                        </div>
                    </div>

                    <!-- Product 3 -->
                    <div class="d-flex align-items-center mb-3">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>1x Orange Juice</span>
                                <span class="text-primary">€2.49</span>
                            </h5>
                            <small class="fst-italic">Orange</small>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between pt-3">
                        <h5 class="text-end">Subtotal</h5>
                        <h5 class="text-end">€36.94</h5>
                    </div>

                    <!-- <div class="d-flex justify-content-between">
                        <h5 class="text-end">Pick-up</h5>
                        <h5 class="text-end">Free</h5>
                    </div> -->

                    <div class="d-flex justify-content-between">
                        <h5 class="text-end">Delivery</h5>
                        <h5 class="text-end">€4.99</h5>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between fw-bold mt-3">
                        <h5 class="text-end">Total</h5>
                        <h5 class="text-end">€41.93</h5>
                    </div>
                    <!-- User Information -->
                    <div class="align-items-center mb-3">
                        <div class="w-100 d-flex flex-column text-start ps-4 mt-3">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>User</span>
                            </h5>
                            <small class="fst-italic">Buzz Lightyear</small>
                        </div>
                        <div class="w-100 d-flex flex-column text-start ps-4 mt-3">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>Address</span>
                            </h5>
                            <small class="fst-italic">Voltereta Lane 5 14ºB, Croquetópolis, Spain</small>
                        </div>
                        <div class="w-100 d-flex flex-column text-start ps-4 mt-3">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>Restaurant</span>
                            </h5>
                            <small class="fst-italic">Voltereta Móstoles (Calle Tulipán, s/n, 28933, Móstoles)</small>
                        </div>
                        <div class="w-100 text-start ps-4 mt-3">
                            <input type="radio" id="pickupOption" name="orderType" value="pickup" checked>
                            <label for="pickupOption">Pick Up</label>
                            <input type="radio" id="deliveryOption" name="orderType" value="delivery" class="ms-3">
                            <label for="deliveryOption">Delivery</label>
                        </div>
                    </div>
                    <!-- Action Buttons -->
                    <div class="button-group justify-content-between d-flex mt-3">
                        <a href="./order-manager.html" class="btn btn-secondary mt-2">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Order Summary End -->

{{> fragments/footer}}