{{> fragments/header}}
        <div class="container-xxl bg-dark hero-header">
            <div class="container text-center pt-5">
                <h1 class="display-3 text-white animated slideInDown pt-4 pb-4">Order Type</h1>
            </div>
        </div>
    </div>

    <!-- Navbar & Hero End -->

    <!-- Select Delivery type Start -->
    <div class="container py-5">
        <h2 class="text-center mb-4">Choose your order preferences</h2>
        <div class="text-center mb-4">
            <input type="radio" id="pickupOption" name="orderType" value="pickup" onclick="toggleForms()" checked>
            <label for="pickupOption">Pick Up</label>
            <input type="radio" id="deliveryOption" name="orderType" value="delivery" onclick="toggleForms()" class="ms-3">
            <label for="deliveryOption">Delivery</label>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 text-center hidden" id="pickupForm">
                <div class="card p-4 shadow-lg">
                    <h4 class="text-primary">Pick Up</h4>
                    <select class="form-select mb-3">
                        <option selected>Select a location</option>
                        <option>Location 1</option>
                        <option>Location 2</option>
                    </select>
                    <input type="text" class="form-control mb-3" placeholder="Your Name">
                    <input type="time" class="form-control mb-3">
                    <a href="order-summary.html" class="btn btn-primary">Confirm</a>
                </div>
            </div>
            <div class="col-md-6 text-center hidden" id="deliveryForm">
                <div class="card p-4 shadow-lg">
                    <h4 class="text-primary">Delivery</h4>
                    <input type="text" class="form-control mb-3" placeholder="Your Name">
                    <input type="text" class="form-control mb-3" placeholder="Address">
                    <input type="text" class="form-control mb-3" placeholder="Postal Code">
                    <input type="tel" class="form-control mb-3" placeholder="Phone Number">
                    <input type="time" class="form-control mb-3">
                    <a href="order-summary.html" class="btn btn-primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Select Delivery type End -->

{{> fragments/footer}}