{{> fragments/header}}

        <div class="container-xxl bg-dark hero-header">
            <div class="container text-center pt-5">
                <h1 class="display-3 text-white animated slideInDown pt-4 pb-4">Profile</h1>
            </div>
        </div>
    </div>

    <!-- Navbar & Hero End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-left">
            <div class="ms-auto align-items-center">
                <table>
                    <tr>
                        <h3 class="section-title ff-secondary text-start text-primary fw-normal">Name</h3>
                        <p class="mb-4">{{#user.firstName}}{{user.firstName}} {{/user.firstName}}{{#user.lastName}}{{user.lastName}}{{/user.lastName}}</p>
                    </tr>
                    <tr>
                        <h3 class="section-title ff-secondary text-start text-primary fw-normal">Username</h3>
                        <p class="mb-4">{{#user.username}}{{user.username}} {{/user.username}}</p>
                    </tr>
                    <tr>
                        <h3 class="section-title ff-secondary text-start text-primary fw-normal">Email</h3>
                        <p class="mb-4">{{#user.email}}{{user.email}}{{/user.email}}</p>
                    </tr>
                    <tr>
                        <h3 class="section-title ff-secondary text-start text-primary fw-normal">Phone number</h3>
                        <p class="mb-4">{{#user.phoneNumber}}{{user.phoneNumber}}{{/user.phoneNumber}}</p>
                    </tr>
                    <tr>
                        <h3 class="section-title ff-secondary text-start text-primary fw-normal">Address</h3>
                        <p class="mb-4">{{#user.address}}{{user.address}}{{/user.address}}</p>
                    </tr>
                </table>
                <div class="justify-content-md-between breadcrumb">
                    <a class="btn btn-primary py-3 px-5 mt-2" href="/edit-profile">Edit</a>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="/orders-list">My Orders</a>
                    <a class="btn btn-danger py-3 px-5 mt-2" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Profile Data End -->

{{> fragments/footer}}